.b-button {
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: $button-padding;
  vertical-align: middle;
  z-index: 1;
  user-select: none;
  border: none;
  border-radius: $button-border-radius;
  outline: 0;
  cursor: pointer;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  height: $button-height;
  line-height: $button-height;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all $base-transition;
  backface-visibility: hidden;
  transform: translateZ(0);
  text-decoration: none !important;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: transparentize(#ffffff, 0.84);
    transition: opacity $base-transition;
  }

  &:hover:not(.b-button--bordered) {
    &:before {
      opacity: 1;
    }
  }

  &:focus {
    outline: 0;
  }

  &--disabled {
    pointer-events: none;
  }

  &--small {
    line-height: 27px;
    padding: 0 30px;
  }
  &--medium {
    line-height: 34px;
    padding: 0 40px;
  }

  &--big {
    height: 72px;
    line-height: 72px;
  }

  &--fullwidth {
    display: block;
    width: 100%;
  }

  &--blue {
    background: color("dodger-blue");
    color: $white;
    box-shadow: 0px 2.81661px 7.14458px rgba(8, 19, 47, 0.155009),
      0px 7.12342px 18.0692px rgba(8, 19, 47, 0.221855);
  }

  &--bordered {
    border: 1px solid color("dodger-blue");
    background-color: $white;
    color: color("dodger-blue");

    &:hover {
      background: color("dodger-blue");
      color: $white;
    }
  }

  &--link {
    padding: 0;
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
    text-transform: none;
    white-space: nowrap;
    color: color("dodger-blue");
  }

  &--shadowed {
    box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.32),
      0px 6.6501px 5.32008px rgba(0, 0, 0, 0.2),
      0px 12.5216px 10.0172px rgba(0, 0, 0, 0.16),
      0px 22.3363px 17.869px rgba(0, 0, 0, 0.14),
      0px 41.7776px 33.4221px rgba(0, 0, 0, 0.12),
      0px 100px 80px rgba(0, 0, 0, 0.08);
  }
}
