.b-radio {
  position: relative;
  z-index: 1;
  display: inline-block;

  &__native {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    opacity: 0;
  }

  &__label {
    display: inline-block;
    min-width: 16px;
    margin: 0;
    text-align: left;
    cursor: pointer;
    user-select: none;
  }

  &__text {
    display: inline-block;
    padding-left: 24px;
    transition: $transition-base;
  }

  &__fake {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 17px;
    height: 17px;
    margin-top: -8px;
    background-color: $white;
    transition: $transition-base;

    &::before {
      content: '+';
      position: absolute;
      top: calc(50% + 1px);
      left: 50%;
      background-color: transparent;
      transform: translate(-50%, -50%);
      transition: $base-transition;
      opacity: 0;
      font-size: 18.5px;
      line-height: 18.5px;
      font-weight: 300;
    }
  }

  &--bordered &__fake {
    box-shadow: inset 0 0 0 1px color("gray-chateau");
  }

  &__native:checked ~ &__fake {
    background-color: $white;

    &::before {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }
  &.disabled &__native:checked ~ &__fake {
    background-color: color("gray-chateau");

    &:before {
      transform: scale(1) rotate(-45deg);
    }
  }
  &.disabled &__fake {
    box-shadow: inset 0 0 0 1px color("gray-chateau");
    cursor: initial;
  }

  &--align-top &__fake{
    top: 0;
    margin-top: 2px;
  }

  &--switcher &__fake {
    width: 36px;
    height: 17px;
    border-radius: 5px;
    background-color: $white;
    box-shadow: none;
    
    &::before {
      width: 10px;
      height: 1px;
      background-color: color("gray-chateau");
      transform: none;
      transition: $base-transition;
    }

    &::after {
      width: 1px;
      height: 10px;
      background-color: color("gray-chateau");
      transform: none;
      transition: $base-transition;
    }
  }
  &--switcher &__text {
    padding-left: 45px;
  }
  
  &--switcher &__native:checked ~ &__fake {
    background-color: color("fiord");
    
    &::before {
      left: 21px;
      transform: none;
    }

    &::after {
      
    }
  }
}
