.b-tabs {
  position: relative;
  &__header {
    &-list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    &-item {
      transition: $base-transition;
      cursor: pointer;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      
      &.active {}
    }
  }

  &__remove-item {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    border: none;
    background-color: transparent;
    cursor: pointer;
    fill: color("pickled-bluewood");
    transition: $base-transition;
    
    &:hover {
      fill: color("boston-blue");
      transform: scale(1.25);
    }
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    
    &-item {
      display: none;
      visibility: hidden;
      height: 0;
      position: relative;
      top: 0;
      opacity: 0;

      transition: all .2s ease-in-out 0s, height 0s ease-in-out .5s;

      &.active {
        display: block;
        visibility: visible;
        height: initial;
        width: 100%;
        opacity: 1;
        
        transition: all .2s ease-in-out .2s, height 0.1s ease-in-out 0s;
      }
    }
  }
  
  &--paging &__header {
    overflow: hidden;
    
    &-list {
      background-color: color("athens-gray");
      overflow-x: auto;
    }
    &-item {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 72px;
      text-align: center;
      padding: 0 70px;
      background-color: color("athens-gray");
      text-transform: initial;
      
      &:hover,
      &.active {
        background-color: $white;
      }
    }
  }
  
  &--paging &__content {
    
    &-item {
      top: -20px;
      position: absolute;

      &.active {
        padding-top: 56px;
        padding-bottom: 56px;
        top: 0;
        position: relative;
      }
    }
  }
  
  &__loader {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1000;
    
    &.active {
      opacity: 1;
      z-index: 10;
    }
  }
}