.b-tooltip {
  position: relative;
  outline: 0;
  vertical-align: middle;
  display: inline-block;
  
  @media print {
    display: none;
  }

  &--wrapper {
    position: fixed;
    z-index: 105;
    transition: $base-transition;
  }
  
  &__trigger {
    width: 22px;
    height: 22px;
    cursor: pointer;
    
    svg {
      fill: color("gray-chateau");
      transition: $base-transition;
    }
  }
  &.active &__trigger {
    svg {
      fill: color("boston-blue");
    }
  }

  &--content.b-panel-inner {
    display: block;
    width: auto;
    min-width: 200px;
    max-width: 330px;
    padding: 19px 32px;
    color: color("fiord");
    background-color: color("athens-gray");
    font-size: 13px;
    font-weight: 300;
    line-height: 1.67;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    text-transform: none;
    white-space: normal;
    z-index: 105;
    
    a {
      display: flex;
      word-break: break-all;
      padding-top: 14px;
    }

    ul {
      li {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.171429px;
      }
    }
  }

  & .svg-icon {
    cursor: pointer;
  }

  &--auto.b-panel-inner {
    width: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

.b-tooltip--bottom {
  .b-tooltip--content {
    bottom: auto;
    top: 22px;
  }
}

.b-tooltip--bottom {
  .b-tooltip--content {
    bottom: auto;
    top: 22px;
  }
}

.b-tooltip--bottom-left {
  .b-tooltip--content {
    bottom: auto;
    left: -332px;
    top: 3px;
  }
}

.b-tooltip--bottom-right {
  .b-tooltip--content {
    bottom: auto;
    left: 0px;
  }
}

.b-tooltip--top-left {
  .b-tooltip--content {
    left: -332px;
  }
}

.b-tooltip--top-right {
  .b-tooltip--content {
    left: 0px;
  }
}

.text-dotted {
  background-image: linear-gradient(to right, #626f81 50%, transparent 50%);
  background-position: 0em 1.25em;
  background-repeat: repeat-x;
  background-size: 2px 1px;
  cursor: help;

  &--light {
    background-image: linear-gradient(to right, #8090ad 50%, transparent 50%);
  }

  &--dark {
    background-image: linear-gradient(to right, #505b6e 50%, transparent 50%);
  }

  &--black {
    background-image: linear-gradient(to right, #08132f 50%, transparent 50%);
  }
}
