.never-think {
  margin-top: 96px;

  @include media-breakpoint-up(lg) {
    margin-top: 128px;
  }

  .b-island {
    .icon {
      width: 56px;

      @media screen and (min-width: 768px) {
        width: 64px;
      }
    }
    &.dissmiss {
      &::before {
        background: #f8f8fa;
        box-shadow: 0px 0.973233px 2.16442px rgba(100, 120, 153, 0.00632056),
          0px 2.26284px 8.74388px rgba(100, 120, 153, 0.0127145),
          0px 4.06354px 20.2124px rgba(100, 120, 153, 0.0196393),
          0px 6.74397px 37.6777px rgba(100, 120, 153, 0.0274128),
          0px 11.1105px 63.5141px rgba(100, 120, 153, 0.0365441),
          0px 19.4179px 103.803px rgba(100, 120, 153, 0.048254),
          0px 42px 192px rgba(100, 120, 153, 0.07);
      }

      .icon {
        svg {
          opacity: 0.4;
        }

        &::before {
          content: "";
          position: absolute;
          width: 66.47px;
          height: 4px;
          left: -5px;
          top: 28px;
          background-color: #cd445e;
          transform: rotate(45deg);
          border-radius: 8px;
          z-index: 1;

          @include media-breakpoint-up(md) {
            width: 81.32px;
            left: -9px;
            top: 31px;
          }
        }
      }
    }
  }

  .img--never-think {
    border-radius: 8px;
  }

  .carryover {
    @media screen and (min-width: 375px) {
      display: none;
    }
  }
}
