//
// Text
//

$prefix: prefix("layout");

// Alignment

.#{$prefix}-text-justify {
  text-align: justify !important;
}
.#{$prefix}-text-wrap {
  white-space: normal !important;
}
.#{$prefix}-text-nowrap {
  white-space: nowrap !important;
}
.#{$prefix}-text-truncate {
  @include text-truncate;
}

// Transformation

.#{$prefix}-text-lowercase {
  text-transform: lowercase !important;
}
.#{$prefix}-text-uppercase {
  text-transform: uppercase !important;
}
.#{$prefix}-text-capitalize {
  text-transform: capitalize !important;
}

// Weight and italics

.#{$prefix}-font-weight-normal {
  font-weight: font-weight(400) !important;
}

.#{$prefix}-font-italic {
  font-style: italic !important;
}

// Misc

.#{$prefix}-text-decoration-none {
  text-decoration: none !important;
}

.#{$prefix}-text-break {
  word-break: break-word !important; // IE & < Edge 18
  overflow-wrap: break-word !important;
}

// Responsive

// Alignment
.#{$prefix}-text-left {
  text-align: left !important;
}
.#{$prefix}-text-right {
  text-align: right !important;
}
.#{$prefix}-text-center {
  text-align: center !important;
}

// Families
@each $family, $value in $font-familyes {
  .#{$prefix}-ff-#{$family} {
    font-family: $value !important;
  }
}

// Sizes
@each $size, $value in $font-sizes {
  .#{$prefix}-fs-#{$size} {
    font-size: $value !important;
  }
}

// Weights
@each $size, $value in $font-weights {
  .#{$prefix}-fw-#{$size} {
    font-weight: $value !important;
  }
}

// Line heights
@each $size, $value in $line-heights {
  .#{$prefix}-lh-#{$size} {
    line-height: $value !important;
  }
}

// Contextual colors
.#{$prefix}-text-white {
  color: $white !important;
}
@each $color, $value in $colors {
  // @include text-emphasis-variant('.#{$prefix}-text-#{$color}', $value); - uncomment if the text-color will be needed for links
  .#{$prefix}-text-#{$color} {
    color: $value;
  }
}

@include text-emphasis-variant(".#{$prefix}-text-body", $body-color);
.#{$prefix}-text-positive {
  color: $text-positive !important;
}
.#{$prefix}-text-negative {
  color: $text-negative !important;
}
.#{$prefix}-text-muted {
  color: $text-muted !important;
}
.#{$prefix}-text-link {
  color: $link-color !important;
}

// Table Head - needed for columns as head

// .#{$prefix}-text-thead {
//   color: $table-head-color !important;
// }

// Reset

.#{$prefix}-text-reset {
  color: inherit !important;
}
