@import "../variables";
@import "../functions";

.b-add-funds {
  
  .b-tabs--payments {
    .b-tabs__header {
      
    }
    .b-tabs__header-list {
      justify-content: center;
    }
    .b-tabs__header-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      width: 100px;
      height: 100px;
      border: solid 1px color("gray-chateau");
      background-color: transparent;
      font-size: 12px;
      text-align: center;
      color: #2d3e50;
      text-transform: initial;
      
      &:not(:first-child) {
        margin-left: 14px;
      }
      
      svg {
        height: 26px;
        margin-bottom: 10px;
      }
      
      &:hover,
      &.active {
        background-color: color("mercury");
      }
    }

    .b-tabs__content {

    }
    .b-tabs__content-item {
      &.active {
        padding-top: 22px;
      }
    }
  }
}