@import "../variables";
@import "../functions";

.b-dash {
  &__item {
    width: 100%;
    position: relative;
    text-align: center;
    
    &-inner {
      width: 100%;
      padding: 24px;
      border: solid 1px color("boston-blue");
      
      &--green {
        border: solid 1px color("pastel-green");
      }
    }
    
    &-img {
      width: 62px;
      padding: 0 8px;
      background-color: $white;
      svg {
        height: 40px;
      }
    }
    &-title {
      font-size: 16px;
      font-weight: 600;
    }
    &-text {
      margin: 24px 0 20px;
      font-size: 14px;
    }
  }
}