// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $menu-link-disabled-color and $modal-content-box-shadow-xs.

//Base
$base-transition: 0.2s ease-in-out;

// Color system

$white: #ffffff;
$black: #000000;

$colors: (
  dark-jungle: #08132f,
  dodger-blue: #5683ff,
  athens-gray: #e6e7ec,
  nepal: #92a2bb,
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: true;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 8px !default;

// stylelint-disable-next-line scss/dollar-variable-default
$spacers: (
  0: 0,
  8: 8px,
  12: 12px,
  16: 16px,
  20: 20px,
  24: 24px,
  32: 32px,
  40: 40px,
  48: 48px,
  50: 50px,
  68: 68px,
  128: 128px,
) !default;

// This variable affects the `.h-*` and `.w-*` classes.

// stylelint-disable-next-line scss/dollar-variable-default
$sizes: (
  1px: 1px,
  128px: 128px,
  200px: 200px,
  220px: 220px,
  300px: 300px,
  25\%: 25%,
  50\%: 50%,
  75\%: 75%,
  100\%: 100%,
  auto: auto,
);

$font-sizes: (
  14px: 14px,
  15px: 15px,
  17px: 17px,
  20px: 20px,
  21px: 21px,
  22px: 22px,
  24px: 24px,
  26px: 26px,
  28px: 28px,
  32px: 32px,
  30px: 30px,
  34px: 34px,
  44px: 44px,
  56px: 56px,
);

$font-weights: (
  400: 400,
  700: 700,
);

$line-heights: (
  24px: 24px,
  30px: 30px,
);

$prefixes: (
  layout: "l",
  block: "b",
);

// Body
//
// Settings for the `<body>` element.

$body-bg: color("dark-jungle");
$body-color: $white;

// Header
//
// Style `<header>` element.

$header-height: 72px;
$header-bg: color("dark-jungle");

// Links
//
// Style anchor elements.

$link-color: color("dodger-blue");
$link-decoration: none;
$link-hover-color: "";
$link-hover-decoration: underline;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  md: 768px,
  lg: 992px,
  xl: 1170px,
);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12;
$grid-gutter-width: 16px;
$grid-gutter-width-md: 24px;

$container-max-width: 1176px;

// Components
//
// Define common padding and border radius sizes and more.

$border-radius: 8px;
$border-radius-lg: 16px;
$border-radius-sm: 4px;

$alpha-step: 5;

$transition-base: all 0.2s ease-in-out;
$transition-fade: opacity 0.15s linear;
$transition-collapse: height 0.35s ease;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-path: "/fonts/";

$font-family-base: "SF Pro Display";

$font-size-base: font-size(22px);

$font-weight-base: font-weight(400);
$line-height-base: 1.45;

$h1-font-size: font-size(56px);
$h1-line-height: 1;

$h2-font-size: font-size(44px);

$h3-font-size: font-size(34px);

$h4-font-size: font-size(28px);

$h5-font-size: font-size(26px);

$h6-font-size: font-size(24px);

$headings-line-height: 1.3;
$headings-font-weight: 400;
$headings-color: color("fiord");

$text-positive: color("pastel-green");
$text-negative: color("sunset");
$text-muted: color("rock-blue");

// Header

$header-bg-bg: color("fiord");
$header-bg-height: 72px;

// Page

$page-header-padding: 30px 0 42px;
$page-content-padding-bottom: 32px;

// Buttons

$button-padding: 0 16px;
$button-height: 48px;
$button-font-size: font-size(14px);
$button-font-weight: 600;
$button-line-height: 1.3;
$button-border-radius: 40px;

$button-border-width: 1px;

// Section

$section-margin-bottom: 64px;
$section-margin-bottom-lg: 96px;
$section-header-padding: 28px 0 16px;
$section-wrapper-padding-x: 24px;
$section-indicator-width: 32px;
$section-indicator-height: 4px;
$section-indicator-bg: gradient("cerulean-scooter");

// Island

// Island

$island-padding: 24px;
$island-border-radius: $border-radius-lg;
$island-steps-size: 48px;
$island-steps-border-width: 4px;
$island-steps-border-color: $body-bg;
$island-steps-bg: $white;
$island-steps-color: $body-bg;
$island-steps-font-size: font-size(20px);

// Modals

$modal-backdrop-bg: $body-bg;
$modal-backdrop-opacity: transparentize(#3c4e62, 0.7);
$modal-box-shadow: 0 0 8px transparentize($black, 0.4);

// Utilities

$displays: none, inline, inline-block, block, flex, inline-flex;
$overflows: auto, hidden;
$positions: static, relative, absolute, fixed, sticky;
$fixed-values: top, right, bottom, left;
