<footer class="b-footer">
  <div class="b-footer__bottom">
    <div class="b-footer__wrapper">
      <div class="row align-items-center">
        <div class="col"></div>
        <div class="col d-flex d-none@lg justify-content-center">
          <div class="b-hamburger">
            <div class="js-open-nav-text">Написать управляющему</div>
            <div class="b-hamburger__inner"></div>
            <div class="b-hamburger__control">
              <div
                class="b-hamburger__control-item js-mfp"
                data-mfp-src=".mobile-menu-script"
              ></div>
              <div class="b-hamburger__control-item js-mfp-close"></div>
            </div>
          </div>
        </div>
        <div class="col d-flex justfiy-content-end"></div>
      </div>
    </div>
  </div>
</footer>
