<header class="b-header">
  <div class="container">
    <div
      class="d-flex align-items-center justify-content-center justify-content-between@lg"
    >
      <div class="b-header__logo">
        <!-- @@include("src/img/svg/logo.svg") -->
      </div>
      <div class="d-none d-flex@lg align-items-center">
        Написать управляющему:
        <div class="b-header__social l-ml-20">
          <a
            href="http://bit.ly/39UrorK"
            target="_blank"
            class="b-header__social-item"
          >
            <img src="/img/svg/telegram.svg" alt="Telegram" />
          </a>
          <a
            href="http://bit.ly/2uimllA"
            target="_blank"
            class="b-header__social-item l-ml-16"
          >
            <img src="/img/svg/facebook.svg" alt="Facebook" />
          </a>
          <a
            href="http://bit.ly/2uimDsG"
            target="_blank"
            class="b-header__social-item l-ml-16"
          >
            <img src="/img/svg/vk.svg" alt="VK" />
          </a>
          <a
            href="mailto:Noxtrader@yandex.ru"
            target="_blank"
            class="b-header__social-item l-ml-16"
          >
            <img src="/img/svg/yandex.svg" alt="Yandex" />
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
