<div class="mfp-hide mfp-inner mobile-menu-script">
  <div class="b-mobile-menu">
    <div class="l-text-dark-jungle l-text-center">
      Выберите способ <br />связи с управляющим
    </div>
    <ul class="b-mobile-menu__list l-mt-24">
      <li class="b-mobile-menu__item l-mb-16">
        <a
          href="http://bit.ly/39UrorK"
          target="_blank"
          class="b-mobile-menu__link"
        >
          <img src="/img/svg/telegram.svg" alt="Telegram" />
          <div class="l-ml-16">Телеграм</div>
        </a>
      </li>
      <li class="b-mobile-menu__item l-mb-16">
        <a
          href="http://bit.ly/2uimllA"
          target="_blank"
          class="b-mobile-menu__link"
        >
          <img src="/img/svg/facebook.svg" alt="Facebook" />
          <div class="l-ml-16">Facebook</div>
        </a>
      </li>
      <li class="b-mobile-menu__item l-mb-16">
        <a
          href="http://bit.ly/2uimDsG"
          target="_blank"
          class="b-mobile-menu__link"
        >
          <img src="/img/svg/vk.svg" alt="VK" />
          <div class="l-ml-16">Вконтакте</div>
        </a>
      </li>
      <li class="b-mobile-menu__item l-mb-16">
        <a
          href="mailto:Noxtrader@yandex.ru"
          target="_blank"
          class="b-mobile-menu__link"
        >
          <img src="/img/svg/yandex.svg" alt="Yandex" />
          <div class="l-ml-16">Почта</div>
        </a>
      </li>
    </ul>
  </div>
</div>
