@font-face {
  font-family: "SF Pro Display";
  src: local("San Francisco Pro Display Regular"),
    local("San-Francisco-Pro-Display-Regular"),
    url("#{$font-path}SFProDisplay-Regular.woff2") format("woff2"),
    url("#{$font-path}SFProDisplay-Regular.woff") format("woff"),
    url("#{$font-path}SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("San Francisco Pro Display Medium"),
    local("San-Francisco-Pro-Display-Medium"),
    url("#{$font-path}SFProDisplay-Medium.woff2") format("woff2"),
    url("#{$font-path}SFProDisplay-Medium.woff") format("woff"),
    url("#{$font-path}SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("San Francisco Pro Display Bold"),
    local("San-Francisco-Pro-Display-Bold"),
    url("#{$font-path}SFProDisplay-Bold.woff2") format("woff2"),
    url("#{$font-path}SFProDisplay-Bold.woff") format("woff"),
    url("#{$font-path}SFProDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
