* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: $body-bg;
  color: $body-color;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  -webkit-text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
  text-rendering: optimizeLegibility;
}

a {
  outline: none;
  color: $link-color;
  text-decoration: $link-decoration;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: transparent;
  &:hover {
    text-decoration: $link-hover-decoration;
  }
}
